.hero_container {
  height: max-content;
  margin: auto;
  width: max-content;
}
.hero_header {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  margin-top: 125px;
  margin-bottom: 0;
  text-align: center;
}
.hero_sub_header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}
.text_blue {
  color: #357DED;
}
.text_red {
  color: #E34A6F;
}