.most_affected_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-top: 100px;
  text-align: center;
}
.most_affected_card {
  border: 1px solid #302B27;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto 25px auto;
}
.affected_card_title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 55px;
  margin-top: 30px;
  text-align: center;
}
.most_affected_data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 30px;
  text-align: center;
}
.data_number {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #302B27;
  margin: 20px auto 20px auto;
  padding-bottom: 15px;
  width: max-content;
}
.data_title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .most_affected_data {
    grid-template-columns: 1fr 1fr;
  }
}